In [59]:
pip install seaborn

Requirement already satisfied: seaborn in /Users/kom/Documents/python/myenv/lib/python3.13/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/kom/Documents/python/myenv/lib/python3.13/site-packages (from seaborn) (2.1.3)
Requirement already satisfied: pandas>=1.2 in /Users/kom/Documents/python/myenv/lib/python3.13/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/kom/Documents/python/myenv/lib/python3.13/site-packages (from seaborn) (3.9.3)
Requirement already satisfied: contourpy>=1.0.1 in /Users/kom/Documents/python/myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /Users/kom/Documents/python/myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/kom/Documents/python/myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/kom/Documents/python/myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /Users/kom/Documents/python/myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in /Users/kom/Documents/python/myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/kom/Documents/python/myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/kom/Documents/python/myenv/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/kom/Documents/python/myenv/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/kom/Documents/python/myenv/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/kom/Documents/python/myenv/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: /Users/kom/Documents/python/myenv/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [60]:
import numpy as np
import pandas as pd
import matplotlib
import seaborn as sns

In [61]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [62]:
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [63]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [64]:
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [65]:
df_train["Age"] = df_train["Age"].fillna(df_train["Age"].median())
df_test["Age"] = df_test["Age"].fillna(df_train["Age"].median())  # df_train の中央値で補完

In [66]:
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.361582,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.019697,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [67]:
df_train.drop('Cabin', axis=1, inplace=True)
df_test.drop('Cabin', axis=1, inplace=True)

In [68]:
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.361582,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.019697,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [69]:
df_train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [70]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

df_train["Sex"] = label_encoder.fit_transform(df_train["Sex"])  # male → 1, female → 0
df_test["Sex"] = label_encoder.transform(df_test["Sex"])

# FamilySize（家族の人数）を作る

In [71]:
df_train["FamilySize"] = df_train["SibSp"] + df_train["Parch"] + 1  # 自分を含める
df_test["FamilySize"] = df_test["SibSp"] + df_test["Parch"] + 1

# 運賃をカテゴライズする

In [72]:
df_train["AgeCategory"] = pd.cut(df_train["Age"], bins=[0, 12, 18, 35, 60, 100], labels=[0, 1, 2, 3, 4])
df_test["AgeCategory"] = pd.cut(df_test["Age"], bins=[0, 12, 18, 35, 60, 100], labels=[0, 1, 2, 3, 4])

# 年齢を4分割する

In [73]:
df_train["FareCategory"] = pd.qcut(df_train["Fare"], 4, labels=[0, 1, 2, 3])
df_test["FareCategory"] = pd.qcut(df_test["Fare"], 4, labels=[0, 1, 2, 3])

In [74]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

df_train["Embarked"] = label_encoder.fit_transform(df_train["Embarked"])
df_test["Embarked"] = label_encoder.transform(df_test["Embarked"])

# 特徴量の選定

In [75]:
features = ["Pclass", "Sex", "AgeCategory", "FamilySize", "FareCategory", "Embarked"]
X_train = df_train[features]
y_train = df_train["Survived"]
X_test = df_test[features]

# ランダムフォレストチューニング

In [76]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

model = RandomForestClassifier(n_estimators=200, max_depth=7, min_samples_split=5, random_state=10)
model.fit(X_train, y_train)

# クロスバリデーションでスコア確認
scores = cross_val_score(model, X_train, y_train, cv=5)
print("Cross Validation Score:", scores.mean())

# 予測
y_pred = model.predict(X_test)

Cross Validation Score: 0.8137028435126483

/Users/kom/Documents/python/myenv/lib/python3.13/site-packages/pandas/core/arrays/base.py:568: RuntimeWarning: invalid value encountered in cast
  result = np.asarray(self, dtype=dtype)

In [77]:
submission = pd.DataFrame({"PassengerId": df_test["PassengerId"], "Survived": y_pred})
submission.to_csv("submission.csv", index=False)